

body{

    h1{
        font-size: 5rem;
        text-align: center;
        text-shadow: 4px -4px 2px rgb(182, 60, 60);
    }
    
    a{
        text-decoration: none;
    }

    background-image: linear-gradient( white ,skyblue , steelblue  ,darkslateblue ) !important;
    background-attachment: fixed;
    
}
