

/*********contacto********/

#contacto{
    text-align: center;

    .container-contacto{
        
        box-shadow: 0 10px 30px 0 $box-shadow1 , 0 2px 4px 0 $box-shadow2;

        .container-titulocontacto{
            padding-top: 2rem;
            padding-bottom: 1rem;
        }





    }

    







}














/*********Fincontacto********/
