
/*****header*****/




.decoration{
    
    
    color: $colorletra;
    font-size: 2rem;
    text-shadow: -1px -1px 2px black;
    font-weight: 500;
    
    
    &:hover{
        
        color: white!important;
        
        animation: pulse infinite;
        animation-duration: 2s;
        
        
    }

    



    
}

/*****Finheader*****/