
/******MI VIAJE********/

#mi-viaje {
    text-align: center;

    .contenedor-miviaje{
        padding: 2rem 1rem 2rem 1rem;
        box-shadow: 0 10px 30px 0 $box-shadow1 , 0 2px 4px 0 $box-shadow2;
    

    .titulo-miviaje{
        padding-bottom: 2rem;
    }

    .contenedor-map{
        padding-top: 1rem;
    }

    }

    






}










/*******FIN MIVIAJE*******/