$colorletra: black;
$color-contenedor: skyblue;
$bg-color: steelblue;
$color-fb: #3b5998;
$color-twitter: #00acee;
$color-yt: #c4302b;
$color-red: red;
$color-violet: violet;
$box-shadow1: rgba(67, 80, 98, 0.24);
$box-shadow2: rgba(67, 80, 98, 0.1);